<div class="exam">
  <app-title variant="h3">
    {{ questionData().question_french }}
  </app-title>

  <div class="exam__answers-grid">
    @for (opt of currentAnswers(); track $index) {
      <app-button
        class="exam__answers-grid__button"
        variant="answer"
        [isSelected]="selectedAnswer() === opt"
        (btnClick)="onSelect(opt)"
      >
        <span class="exam__answers-grid__label">{{ getLetter($index) }}.</span>
        <app-title variant="p" class="exam__answers-grid__text">{{ opt }}</app-title>
      </app-button>
    }
  </div>

  <div class="actions-container">
    @if (feedback()) {
      <p class="feedback-text">{{ feedback() }}</p>
    }

    @if (!hasValidated()) {
      <app-button variant="tile" (click)="verifierReponse()" [disabled]="!selectedAnswer()">
        <span>Valider la réponse</span>
      </app-button>
    }

    @if (hasValidated()) {
      <app-button (click)="onNext()" variant="tile" class="btn-next">
        <span>Continuer</span>
      </app-button>
    }
  </div>
</div>
