<div>
  <div>{{ questionData().question_french }}</div>

  <div>
    @for (opt of options(); track opt.label) {
      <div
        [class.is-selected]="selectedOption()?.label === opt.label"
        [class.is-correct]="hasValidated() && showResultAtSelection() && opt.isCorrect"
        [class.is-wrong]="
          hasValidated() &&
          showResultAtSelection() &&
          selectedOption()?.label === opt.label &&
          !opt.isCorrect
        "
        (click)="onSelect(opt)"
      >
        <span>{{ opt.label }}</span>
        <span>{{ opt.text }}</span>
      </div>
    }
  </div>

  <div>
    @if (!hasValidated()) {
      <app-button variant="primary" [disabled]="!selectedOption()" (click)="onValidate()">
        Valider la réponse
      </app-button>
    } @else {
      <app-button variant="secondary" (click)="onNext()"> Question suivante </app-button>
    }
  </div>
</div>
