@use 'sass:color';
@use '../../../../styles.scss' as *;

:host {
  display: block;
}

.bloc-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 40px 0px;

  &__title {
    color: $color-accent;
  }
}
