@use 'sass:color';
@use '../../../../styles.scss' as *;

:host {
  display: block;
}

.text-h2 {
  font-family: $font-main;
  font-size: 36px;
  // color: $color-bg;
  font-weight: 700;
  line-height: 1.2em;
}
