<section>
  <div class="hero">
    <img
      class="hero__image"
      src="https://design.penpot.app/assets/by-file-media-id/5b4e6c3a-cdc2-8047-8007-b68853b0a9fe"
      alt="Radio"
    />
    <div class="hero__content">
      <app-title variant="h1">Transmettez votre passion, au-delà des frontières</app-title>
      <app-title variant="p-large"
        >Rejoignez une communauté mondiale de passionnés et découvrez l'art de la
        radiocommunication. Que vous soyez curieux ou futur opérateur, notre plateforme vous
        accompagne pas à pas vers votre accréditation officielle.</app-title
      >
      <app-button class="hero__content--bt" variant="secondary"
        >Commencer votre formation</app-button
      >
    </div>
  </div>
</section>
