<div class="progress-container">
  @if (!isFinished()) {
    <app-title variant="p-large"
      ><strong>Question {{ displayIndex() }} sur {{ totalQuestions() }}</strong>
    </app-title>
    <div>
      <app-title variant="p-large"><strong>Score actuel :</strong></app-title>
      <app-title variant="h4">{{ successRate() }}%</app-title>
      <app-title variant="h5" class="progress-container__score"
        >{{ correctAnswersCount() }} sur {{ totalQuestions() }}</app-title
      >
    </div>
  } @else {
    <div class="progress-container__final">
      <app-title variant="p-large"><strong>Score</strong></app-title>
      <app-title variant="h4">{{ finalScore() }}%</app-title>
      <app-title variant="h5" class="progress-container__final__message">
        {{ feedbackMessage() }}
      </app-title>

      <div class="progress-container__final__anim">
        <app-animation-sound-bars></app-animation-sound-bars>
      </div>

      <app-button variant="primary">Partager mon score</app-button>
    </div>
  }
  <app-button variant="answer" class="progress-container__quit-exam-button" (click)="resetAndNew()"
    >Quitter l'examen</app-button
  >
</div>
