:host {
  display: block;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  text-align: center;

  &__score {
    width: 100%;
    text-align: center; // Pour centrer le texte "X sur Y" dans la barre
  }

  &__final {
    &__message {
      padding: 0 5px;
    }
    &__img {
      margin: auto;
      width: 150px;
      padding-bottom: 15px;
    }
  }
}
