@use 'sass:color';
@use '../../../../styles.scss' as *;

:host {
  display: block;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  text-align: center;

  &__score {
    width: 100%;
    text-align: center;
  }

  &__final {
    display: flex;
    flex-direction: column;
    &__message {
      margin-top: 10px;
      color: $color-accent;
    }
    &__anim {
      margin: auto;
      width: 150px;
      padding: 20px 0;
    }
  }
  &__quit-exam-button {
    font-size: 13px;
    font-weight: 700;

    &:hover {
      background-color: color.adjust($color-text, $lightness: 80%);
      border-color: $color-text;
      color: $color-text;
    }
  }
}
