@use 'sass:color';
@use '../../../../styles.scss' as *;

.button-base {
  display: inline-block; // Important pour un <a>
  text-decoration: none;
  text-align: center;
  border-radius: 0;
  padding: 7px 20px;
  //   margin: 10px 0 10px 20px;

  &.primary {
    border: 1.5px solid;
    font-size: 13px;
    font-weight: 700;
    &:hover {
      // background-color: color.adjust($color-accent, $lightness: 10%);
      border: 1.5px solid;
    }
  }

  &.secondary {
    background: transparent;
    color: $color-accent;
    border: 1px solid $color-accent;
    font-size: 13px;
    font-weight: 700;
    &:hover {
      // background-color: color.adjust($color-accent, $lightness: 10%);
      background-color: $color-accent;
      border: 1.5px solid $color-accent;
      color: $color-primary;
    }
  }
  &.tile {
    background-color: $color-text;
    border: 1px solid $color-text;
    font-size: 13px;
    font-weight: 700;
    color: $color-bg;

    &:active:not(:disabled) {
      background-color: color.adjust($color-text, $lightness: 10%);
    }

    &:disabled {
      background-color: color.adjust($color-text, $lightness: 50%);
    }
  }
}
