@use 'sass:color';
@use '../../../../styles.scss' as *;

:host {
  display: block;
}

.card {
  background-color: rgb(193, 143, 143);
  &__title {
    color: $color-primary;
  }
}
.test {
  font-weight: 700;
}
