// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

// --- VARIABLES DE COULEURS ---
$color-primary: #4a3a12;
$color-accent: #ca9c30;
$color-danger: #e74c3c;
$color-bg: #fff9f1;
$color-text: #0f0f0f;

// --- TYPOGRAPHIE ---
$font-main: 'Source Sans Pro', sans-serif;
$font-mono: 'VT323', monospace;

/* --- RESET SCSS --- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: $font-main;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: $color-bg;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

button,
input,
select,
textarea {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

fieldset {
  border: none;
}
