<div class="bloc-jaune">
  <app-title variant="h2" class="bloc-jaune__titre">Pourquoi s'inscrire?</app-title>
  <div class="bloc-jaune__container">
    <div class="bloc-jaune__container__item">
      <img
        class="bloc-jaune__container__item__icon"
        src="https://design.penpot.app/assets/by-file-media-id/9afc49c1-9c44-8036-8007-c26bf8d2a350"
        alt="Globle"
      />
      <app-title variant="h4" class="bloc-jaune__container__item__text"
        >Communiquer avec le monde entier</app-title
      >
    </div>
    <div class="bloc-jaune__container__item">
      <img
        class="bloc-jaune__container__item__icon"
        src="https://design.penpot.app/assets/by-file-media-id/1c48efe5-2f9f-81cd-8007-c26d2e8f9a42"
        alt="Globle"
      />
      <app-title variant="h4" class="bloc-jaune__container__item__text"
        >Communiquer avec le monde entier</app-title
      >
    </div>
    <div class="bloc-jaune__container__item">
      <img
        class="bloc-jaune__container__item__icon"
        src="https://design.penpot.app/assets/by-file-media-id/9afc49c1-9c44-8036-8007-c26d3bdf4086"
        alt="Globle"
      />
      <app-title variant="h4" class="bloc-jaune__container__item__text"
        >Communiquer avec le monde entier</app-title
      >
    </div>
    <div class="bloc-jaune__container__item">
      <img
        class="bloc-jaune__container__item__icon"
        src="https://design.penpot.app/assets/by-file-media-id/9afc49c1-9c44-8036-8007-c26d480f35d5"
        alt="Globle"
      />
      <app-title variant="h4" class="bloc-jaune__container__item__text"
        >Communiquer avec le monde entier</app-title
      >
    </div>
  </div>
</div>
