:host {
  display: block;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px auto;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
}
