<!-- <div class="exam-container">
  <app-card class="exam-container__card">
    @if (!isStarted()) {
      <app-form-start-exam (onStart)="onExamStarted()"></app-form-start-exam>
    } @else if (!isFinished()) {
      <app-exam-display> </app-exam-display>
    } @else {
      <div class="result-card">
        <h2>Examen terminé !</h2>
        <app-button (click)="reset()">Recommencer</app-button>
      </div>
    }
  </app-card>

  <app-card class="exam-container__card">
    @if (practiceExam.totalQuestions() > 0) {
      <app-exam-progress
        [current]="practiceExam.countAnswered()"
        [total]="practiceExam.totalQuestions()"
      >
      </app-exam-progress>
    } @else {
      <p>Sélectionnez vos paramètres pour débuter.</p>
    }
  </app-card>
</div> -->
