<div class="quicklinks">
  @for (item of links(); track item.label) {
    @if (item.type === 'internal') {
      <a class="quicklinks__button" [routerLink]="item.link">
        {{ item.label }}
      </a>
    } @else {
      <a class="quicklinks__button" [href]="item.link" target="_blank" rel="noopener noreferrer">
        {{ item.label }}
      </a>
    }
  }
</div>

<div class="quicklinks">
  <app-title variant="h3">Liens rapides</app-title>
  <a class="quicklinks__button"> Réviser par chapitre </a>
  <a class="quicklinks__button"> Réviser les questions manquées </a>
  <a class="quicklinks__button"> Calculateurs </a>
  <a class="quicklinks__button"> Obtenir son certificat </a>
  <a class="quicklinks__button"> Faire une pratique d'examen </a>
</div>
