@use 'sass:color';
@use '../../../../styles.scss' as *;

.loader-radar {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 20px;
  color: $color-accent;
}
.loader-radar:before {
  content: 'Loading...';
  animation: l34 1s infinite alternate;
}

@keyframes l34 {
  0%,
  15%,
  75%,
  100% {
    content: 'Chargement...';
  }
  20% {
    content: 'Chargement...';
  }
  25% {
    content: 'Ch rgement...';
  }
  30% {
    content: 'Charg ment...';
  }
  35% {
    content: ' hargement..';
  }
  40% {
    content: 'C argement...';
  }
  45% {
    content: 'Chargemen ...';
  }
  50% {
    content: 'Char ement...';
  }
  55% {
    content: 'Chargement  .';
  }
  60% {
    content: ' harge ent...';
  }
  65% {
    content: 'Cha geme t...';
  }
  70% {
    content: 'Chargem n ...';
  }
}
