<div class="exam-finish-container">
  <div class="exam-finish-container__card">
    <app-card class="exam-finish-container__card__left"> tableau </app-card>
    <app-card class="exam-finish-container__card__left">
      <app-score-breakdown></app-score-breakdown>
    </app-card>
  </div>
  <div class="exam-finish-container__card">
    <app-card class="exam-finish-container__card__right">
      <app-quicklinks></app-quicklinks>
    </app-card>
    <app-card class="exam-finish-container__card__right">
      <app-quicklinks></app-quicklinks>
    </app-card>
  </div>
</div>
