<div class="exam-finish-container">
  <div class="exam-finish-container__card">
    <app-card class="exam-finish-container__card__left">
      <app-title variant="h3">Évolution de vos performances</app-title>
    </app-card>
    <app-card class="exam-finish-container__card__left">
      <app-score-breakdown class="exam-finish-container__card__left__score"></app-score-breakdown>
    </app-card>
  </div>
  <div class="exam-finish-container__card">
    <app-card class="exam-finish-container__card__right"
      ><app-level-indicator></app-level-indicator
    ></app-card>
    <app-card class="exam-finish-container__card__right">
      <app-quicklinks [links]="dashboardLinks()"></app-quicklinks>
    </app-card>
  </div>
</div>
