<div class="calculateurs">
  <app-title variant="h2">Calculateurs d'antennes</app-title>
  <div class="calculateurs__cards">
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Calculateur de dipôle</strong></app-title>
        <app-title variant="p" class="card__content">
          Permet de déterminer la longueur précise des fils nécessaires pour fabriquer une antenne
          dipôle, en fonction de la fréquence radio visée.
        </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Calculateur antenne 1/4 onde</strong></app-title>
        <app-title variant="p" class="card__content">
          Sert à déterminer la longueur d'un seul élément rayonnant vertical.
        </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Calculateur antenne quad</strong></app-title>
        <app-title variant="p" class="card__content">
          Sert à déterminer les dimensions d'une antenne en forme de boucle carrée (loop). C’est une
          antenne directive très appréciée des radioamateurs car elle est souvent plus performante
          qu'un dipôle ou une antenne Yagi à taille égale.
        </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Calculateur antenne Yagi</strong></app-title>
        <app-title variant="p" class="card__content"> Texte à ajouter </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Calculateur antenne Delta</strong></app-title>
        <app-title variant="p" class="card__content"> Texte à ajouter </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
  </div>
</div>

<div class="calculateurs">
  <app-title variant="h2">Calculateurs électronique</app-title>
  <div class="calculateurs__cards">
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Calculateur loi d'Ohm</strong></app-title>
        <app-title variant="p" class="card__content"> Texte à ajouter </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Calculateur pont diviseur</strong></app-title>
        <app-title variant="p" class="card__content"> Texte à ajouter </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Calculateur résistance LED</strong></app-title>
        <app-title variant="p" class="card__content"> Texte à ajouter </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"
          ><strong>Convertisseur puissance alimentation</strong></app-title
        >
        <app-title variant="p" class="card__content"> Texte à ajouter </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Convertisseur dBm en Watts</strong></app-title>
        <app-title variant="p" class="card__content"> Texte à ajouter </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
  </div>
</div>

<div class="calculateurs">
  <app-title variant="h2">Calculateurs propagation RF</app-title>
  <div class="calculateurs__cards">
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Calculateur distance horizon radio</strong></app-title>
        <app-title variant="p" class="card__content"> Texte à ajouter </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"
          ><strong>Calculateur perte en espace libre (FSPL)</strong></app-title
        >
        <app-title variant="p" class="card__content"> Texte à ajouter </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
    <div class="calculateurs__cards__card">
      <div>
        <app-title variant="p-large"><strong>Calculateur zone de Fresnel</strong></app-title>
        <app-title variant="p" class="card__content"> Texte à ajouter </app-title>
      </div>
      <app-button variant="answer">Calculer </app-button>
    </div>
  </div>
</div>
