<nav class="navbar">
  <div class="navbar__logo">
    <span class="navbar__logo-text" a routerLink="/">Radioamateur</span>
  </div>

  <button class="navbar__toggle" (click)="isMenuOpen = !isMenuOpen">
    <i class="fa-solid" [class.fa-xmark]="isMenuOpen" [class.fa-bars]="!isMenuOpen"></i>
  </button>

  <div class="navbar__container" [class.active]="isMenuOpen">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="" (click)="isMenuOpen = false" class="navbar__link">Apprendre</a>
      </li>
      <li>
        <a routerLink="/dashboard/examens" (click)="isMenuOpen = false" class="navbar__link"
          >Pratiquer</a
        >
      </li>
    </ul>
  </div>

  <div class="navbar__button" [class.active]="isMenuOpen">
    <app-button variant="secondary" type="submit"
      ><span class="navbar__button-text">Connexion&nbsp;&nbsp;&nbsp;</span
      ><i class="fa-regular fa-user navbar__button-icon"></i
    ></app-button>
    <app-button type="submit" class="navbar__button-text">Portail éducatif</app-button>
  </div>
</nav>
