@use 'sass:color';
@use '../../../../styles.scss' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: $color-text;
  padding: 13px 20px;

  &__logo-text {
    font-weight: 900;
    font-size: 24px;
    color: $color-accent;
  }

  &__toggle {
    display: none;
    background: none;
    flex-direction: column;
    color: $color-primary;
    gap: 5px;
    border: none;
    cursor: pointer;
    z-index: 1000;

    @media (max-width: 768px) {
      display: block;
      order: 3;
    }
  }

  &__container {
    flex: 1; // Prend l'espace disponible au milieu
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $color-text;
      flex-direction: column;
      z-index: 100;

      &.active {
        display: flex !important;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    flex: 1; // Centre le menu entre le logo et les boutons

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
      padding: 20px 0;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
    margin: 0 10px;
    color: $color-bg;
    font-size: 14px;
    font-family: $font-main;
    font-weight: 400;
    transition: color 0.3s;

    &:hover {
      color: $color-accent;
    }

    @media (max-width: 768px) {
      display: block;
      padding: 15px;
      text-align: center;
      width: 100%;
    }
  }

  &__button {
    display: flex;
    gap: 1rem;

    @media (max-width: 768px) {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 200px;
      flex-direction: column;
      align-items: center;
      padding: 0 0 20px 20px;
      z-index: 101;
      background-color: $color-text;
    }

    &.active {
      display: flex !important;
    }
  }
}
