<div class="bloc-2-col">
  <div class="bloc-2-col__left">
    <app-title variant="p" class="bloc-2-col__left__text">
      Le radioamateurisme est bien plus qu'un simple passe-temps technique ; c'est une porte ouverte
      sur le monde entier. Grâce aux ondes radio, vous communiquez au-delà des frontières, sans
      dépendre d'Internet ou des réseaux cellulaires.
    </app-title>
    <app-title variant="p" class="bloc-2-col__left__text">
      C’est un terrain de jeu exceptionnel pour l'expérimentation. De la fabrication d'antennes à
      l'étude de la propagation des ondes, chaque contact radio devient une occasion d'apprendre et
      de maîtriser la science des communications.
    </app-title>
    <app-title variant="p" class="bloc-2-col__left__text">
      En cas de situation d'urgence, les radioamateurs deviennent un maillon vital. Leur capacité à
      déployer des stations autonomes permet de maintenir le contact quand toutes les autres
      infrastructures tombent en panne, sauvant ainsi des vies.
    </app-title>
    <app-title variant="p" class="bloc-2-col__left__text">
      C'est aussi rejoindre une communauté soudée basée sur l'entraide et le partage. Peu importe
      votre origine ou votre langue, le code international et la passion technique créent des liens
      durables entre les passionnés de tous les continents.
    </app-title>
    <app-title variant="p">
      Enfin, obtenir son accréditation officielle est un gage de compétence reconnu par l'État.
      C'est le début d'une aventure qui vous donne le droit d'opérer vos propres stations et
      d'explorer les technologies de transmission de demain.
    </app-title>
  </div>
  <div class="bloc-2-col__right">
    <img
      class="bloc-2-col__right__image"
      src="https://design.penpot.app/assets/by-file-media-id/9afc49c1-9c44-8036-8007-c2738fc9ce3b"
      alt="Antenne radio"
    />
  </div>
</div>
